.container {
    width: 1440px;
    height: 900px;
    display: flex;
    margin: 0 auto;
}
.container__left {
    width: 735px;
    height: 859px;
    margin-top: 21px;
}
.container__right {
    width: 735px;
    height: 859px;
    background-color: #000842;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-top: 21px;
}

.container__left__img {
    margin-top: 21px;
    margin-left: 24px;
}
.container__left__from {
    width: 510px;
    margin-left: 112px;
    margin-top: 30px;
}
.container__right__icon{
   display: flex;
   margin-left: 565px;
   margin-top: 24px;
}
.container__right__icon_p {
    color: white;
    margin-left: 5px;
}
.container__right__img{
margin-left: 123px;
}
.container__right__p {
    color: white;
    font-size: 40px;
    font-weight: 600;
    margin-left: 98px;
    margin-top: 84px;
}
.container__right__p1{
    color: white;
    font-size: 20px;
    font-weight: 300;
    margin-left: 98px;
}
.container__left__from__p {
    font-size: 30px;
    font-weight: 500;
}
.container__left__from__p1{
    font-size: 16px;
    font-weight: 400;
    margin-top: -30px;
}
.from__planet {
    display: flex;
    padding: 10px;
    margin-bottom: -40px;
}
.submit{
    width: 429px;
    height: 53px;
    color: white;
    background-color: #0C21C1;
    border-radius: 30px;
}