.tr {
    padding-left: 0.2rem;
    padding-right: 0.2rem;
}
.table {
    width: 100%;
    background-color: white;
}
.table th {
    padding-left: 0.3rem;
    padding-right: 0.3rem;
}
.button {
    background-color: white;
    border-style: none;
}
