/* LadingPage  */

#landing {
    width: 100%;
    height: 100%;

    background: linear-gradient(
        to bottom right,
        #6e00a1,
        #a800be,
        #0011ff,
        #000000,
        #000000,
        #a800be,
        #0011ff,
        #6e00a1
    );
    background-size: cover;
    background-position: center;
    flex-direction: column;
}

#landing {
    display: flex;
    justify-content: center;
    align-items: center;
}
.button-glow {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de,
        0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
    transition: all 0.5s ease-in-out;
}

.button_Custom:hover {
    background-color: #0011fd;
    color: #e3e3e3;
}
#landingContent {
    width: 1220px;
    height: 720px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    border-radius: 50px;
    background: linear-gradient(to right, #ffffff83, #ffffffbb);
}

.landingHeader__right input::placeholder {
    color: white;
}
#landingBody,
.landingFooter,
#landingHeader {
    width: 80%;
}

button,
#landingHeader,
.landingHeader__right,
.menu-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.menu {
    width: 20rem;
    display: flex;
    justify-content: space-around;
}

.landingHeader__right input {
    width: 8rem;
    color: aliceblue;
    background-color: rgba(255, 255, 255, 0);
    box-shadow: none;
    outline: none;
}
#search_shop {
    padding-left: 2rem;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-6 w-6' fill='none' viewBox='0 0 24 24' stroke='%23999' stroke-width='2'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z' /%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: 0.625rem 0.75rem;
    background-size: 1rem;
    position: relative;
}

#landingBody {
    position: relative;
    width: 80%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.imgContent {
    position: absolute;
    width: 100%;
    height: 90%;
    border-radius: 100px;
    object-fit: cover;
    background-size: cover;
    animation: slide 5s linear infinite;
    animation-delay: 2s;
    background-repeat: no-repeat;
}
.imgAds {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.iconArrow {
    z-index: 1;
    width: 2rem;
    height: 4rem;
}

.rightArrowStyles {
    transform: rotate(180deg);
}

.landingHeader__left img {
    width: 5rem;
    height: 5rem;
}
.landingHeader__left {
    justify-content: space-around;
}
.landingHeader__left img {
    border-radius: 100%;
}
.menu {
    padding: 0%;
}
.landingHeader__left .item {
    color: white;
}

button img {
    width: 1.5rem;
    height: 1.5rem;
}
.addToCart button {
    color: white;
    background-color: #0011ff;
}

#landingBody h1 {
    font-size: 800%;
    font-family: fantasy;
    color: rgba(162, 0, 255, 0.623);
    position: absolute;
    z-index: 1;
}
.addToCart {
    display: flex;
    flex-direction: row;
}
#landingBody h2 {
    display: none;
}
.landingFooter,
#landingHeader {
    display: flex;
    justify-content: space-between;
}
.dotsStyle {
    display: flex;
    height: 1rem;
}
@keyframes slide {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 100% 0;
    }
}

@media screen and (max-width: 1220px) {
    #landingContent {
        width: 90%;
        height: 90%;
        justify-content: space-around;
    }
    .landingHeader__right input,
    .landingHeader__right button {
        width: 8rem;
        height: 2.4rem;
    }
    .landingHeader__left {
        flex-direction: column;
    }
    #landingBody .imgAds {
        width: 100%;
        height: 100%;
    }
    #landingBody h1 {
        display: none;
    }
    #landingBody {
        align-items: center;
    }
    #landingBody h2 {
        position: absolute;
        z-index: 1;
        display: inline;
        font-size: 250%;
        font-family: fantasy;
        color: rgba(163, 1, 1, 0.63);
    }

    .menu {
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 5rem;
        top: 10rem;
        background-color: #0059ff94;
        color: white;
        z-index: 999;
        border-radius: 15px;
    }
    .hide {
        display: none;
    }
    .landingHeader__right {
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
        flex-wrap: wrap;
    }
    .iconArrow {
        z-index: 1;
        width: 1rem;
        height: 2rem;
    }
}
