.inputCom {
    width: 43rem;
    height: 5.4rem;
}
.input {
    width: 80%;
    border: 0;
    border-bottom: 2px solid #f3f3f3;
    outline: 0;
    font-size: 1.3rem;
    padding-top: 1rem;
    padding-left: 1rem;
}
label{
    font-weight: 400;
    font-size: 1.3rem;
}
.error{
    font-size: 0.8rem;
    color: red;
    position: relative;
}
.radioCustom{
    margin: 0.5rem;
}