.inputCom {
    width: 43rem;
    height: 6.4rem;
}
.inputCom input {
    width: 100%;
    border: 0;
    border-bottom: 2px solid #f3f3f3;
    outline: 0;
    font-size: 1.3rem;
    padding: 1rem 0;
    margin-top: 1rem;
}
 label{
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
}
.error{
    color: red;
    position: relative;
}