.inputCom {
    border-radius: 10px;
}

.inp {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
input {
    font-size: 1.6rem;
    border-style: none;
}

img {
    padding-right: 0.5rem;
}

.errorP {
    color: red;
}
