#pageTable {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.topPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1024px;
    background-color: aquamarine;
}
#divLineNumber {
    display: flex;
    margin-bottom: 1rem;
}
