#pageTable {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.topPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1024px;
    background-color: aquamarine;
}
#divLineNumber {
    display: flex;
    margin-bottom: 1rem;
}

#divLineNumber button {
    width: 2.7rem;
    height: 2.7rem;
    border-radius: 100%;
}
.pageTableDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1024px;
    background-color: rgba(247, 103, 103, 0.158);
}
.pageTableDiv_pagination {
    display: flex;
    justify-content: space-between;
}
