.tr {
    padding-left: 0.2rem;
    padding-right: 0.2rem;
}
.table {
    width: 100%;
    background-color: white;
}
.table th {
    padding-left: 0.3rem;
    padding-right: 0.3rem;
}

.hover {
    &:hover {
    background-color: rgba(255, 0, 0, 0.123);}
}
