.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.input {
  display: block;
}
.imgUser {
  width: 200px;
  margin-top: 20px;
}
.btnCamera {
    position: relative;
    bottom: 30px;
    left: 130px;
    width: 30px;
    border-radius: 100px;
}
.btnCamera input {
  position: absolute;
  opacity: 0;
  z-index: 2;
  width: 30px;
  height: 30px;
}
.imgCamera{
    width: 30px;
}
