*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.FormSignUp{
    display: flex;
    justify-content: space-around;
    
}
.titleSignUp{
    margin-bottom: 2rem;
}
.titleSignUp h1 {
    font-size: 2rem;
}
.titleSignUp p {
    font-size: 1.3rem;
}
.flex{
    display: flex;
    align-items: center;
}
.login{
    background-color: white;
    border: 0;
    color: #0C21C1;
    font-size: 1.3rem;
    margin-left: 0.5rem;
    margin-top: 0.2rem;
}
.radio{
    display: flex;
    padding: 1rem;
}
.background{
    width: 45rem;
    background-color: #000842 ;
    border-radius: 2rem;
}
.contact{
    display: flex;
    justify-content: end;
    margin: 1rem;
}
.contact h3 {
    color: white;
    margin-left: 0.5rem;
}
.loginImage{
    display: flex;
    justify-content: center;
    align-items: center;
}
.title {
    margin: 2rem;
}
.title p {
    color: white;
    font-size: 1.3rem;
}