#modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Màu đen với độ mờ 50% */
    display: flex;
    justify-content: center;
    align-items: center;
}

.todoapp {
    margin: 1rem;
    padding: 1rem;
    background: rgb(114, 181, 240);
    border-radius: 15px;
}

.add {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.buttonADD {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
}
.list,
.add {
    padding-top: 5rem;
}

.closeIN {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header {
display: flex;
justify-content: center;
align-items: center;}