.SignINUP {
    position: relative;
    width: 144rem;
    height: 90rem;

    margin: 1rem;
    background: white;
    border-radius: 15px;
    &_left {
        position: absolute;
        width: 43.5rem;
        height: 75rem;
        left: 10.8rem;
        top: 11.7rem;
    
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    &_right {
        position: absolute;
        width: 73.5rem;
        height: 85.9rem;
        left: 68.3rem;
        top: 2.1rem;
        background: #000842;
        border-radius: 15px;
    
        display: flex;
        flex-direction: column;
    
        padding-left: 7rem;
        padding-right: 7rem;
        padding-top: 5rem;
    }
}

.SignINUP_Mobile {
    position: absolute;
    width: 94%;
    height: 96%;
    left: 3%;
    top: 2%;
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    background-color: white;
    border-radius: 10px;
}

.ads {
    padding-left: 12.3rem;
    width: 521px;
    height: 521px;
}

.phone,
.text_left {
    font-size: 3rem;
    color: white;
}
.text_left {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
}
.text_left h1 {
    font-size: 3.5rem;
}

.phone {
    display: flex;
    flex-direction: row-reverse;
}

.h1 {
    font-size: 3rem;
}
.button {
    font-size: 1.8rem;
    height: 3rem;
    background-color: blue;
    color: white;

    border-radius: 15px;
}
.form__center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form__row,
.remember_forgot {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.remember_forgot {
    font-size: 1.2rem;
    padding-bottom: 1.5rem;
}

h1 {
    font-size: 1.8rem;
}