body {
    display: flex;
    justify-content: center;
    background-color:blanchedalmond;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}
html {
    font-size: 10px;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 1.6rem;
}