.inputCom {
    border-radius: 10px;
}

.inp {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.inputCom input {
    border: 0;
    border-bottom: 2px solid #f3f3f3;
    outline: 0;
    font-size: 13px;
    padding: 7px 0;
    margin-top: 10px;
    border-radius: 15px;
}
.inputCom h4 {
    padding-top: 2rem;
}

img {
    padding-right: 0.5rem;
}

.errorP {
    color: red;
}
