.body {
  margin: 21px 21px;
  display: flex;
  justify-content: space-around;
}
.FORM_Login {
  color: #0c21c1;
}

.bgr {
  width: 73.5rem;
  height: 86rem;
  background-color: #000842;
  border-radius: 2rem;
}
.bgr h3,
h2 {
  color: white;
}
.login {
  background-color: white;
  border: 0;
  color: blue;
  font-size: 1.6rem;
  padding: 0;
  margin-bottom: 1rem;
}
.p {
  color: white;
}
.contact {
  display: flex;
  justify-content: end;
  align-items: center;
  margin: 2rem;
  font-size: 1.5rem;
}
.contact img {
  margin-right: 1rem;
}
.loginImage {
  display: flex;
  justify-content: center;
}
.title {
  margin: 10rem 30rem 13rem 10rem;
}
.title h2 {
  font-size: 4rem;
}
.title p {
  font-size: 2rem;
  color: white;
}
.forgot {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
a {
  text-decoration: none;
  color: #4d4d4d;
}
.register {
  color: #0c21c1;
}
.continue {
  text-align: center;
  margin-top: 5rem;
  color: #b5b5b5;
}
.icon {
  display: flex;
  justify-content: center;
  margin: 2rem;
}
